<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="XrmSolutions" value="https://dynamicscrm.pkgs.visualstudio.com/_packaging/XrmSolutions/nuget/v3/index.json" />
  </packageSources>
	<disabledPackageSources />
  <activePackageSource>
    <add key="All" value="(Aggregate source)" />
  </activePackageSource>
  <packageSourceMapping>
    <!-- Added to resolve NU1507 that occurred with SDK update to 6.0.405, which auto injects /dotnet/library-packs/ as a source -->
    <!-- This entry says to use the `XrmSolutions` source for all (*) packages. -->
    <packageSource key="XrmSolutions">
      <package pattern="*" />
    </packageSource>
  </packageSourceMapping>
</configuration>