################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/BYOCoA.RelayService.Adaptors.API/bin/Debug/netcoreapp2.1
*.log
/BYOCoA.RelayService.Adaptors.API/obj/Debug/netcoreapp2.1
/Libraries/Adapters/BYOCoA.RelayService.Adapters.Line/obj/Debug/netcoreapp2.1
/Libraries/Adapters/BYOCoA.RelayService.Adapters.Line/obj/Release/netcoreapp2.1
/Libraries/Adapters/BYOCoA.RelayService.Adapters.Line/obj
/Libraries/Adapters/BYOCoA.RelayService.Adapters.Line/bin/Debug/netcoreapp2.1
/Libraries/Adapters/BYOCoA.RelayService.Adapters.MessageBird/bin/Debug/netcoreapp2.1
/Libraries/Adapters/BYOCoA.RelayService.Adapters.MessageBird/obj
/Libraries/BYOCoA.RelayService.Adapter.Builder/obj
/BYOCoA.RelayService.Adaptors.API/obj
/Libraries/BYOCoA.RelayService.Adapter.Builder/bin/Debug/netcoreapp2.1
/BYOCoA.RelayService/bin/Debug/netcoreapp2.1
/BYOCoA.RelayService/obj
/Libraries/Adapters/Microsoft.OmniChannel.Adapters.Line/bin/Debug/netcoreapp2.1
/Libraries/Adapters/Microsoft.OmniChannel.Adapters.Line/obj
/Libraries/Adapters/Microsoft.OmniChannel.Adapters.MessageBird/bin/Debug/netcoreapp2.1
/Libraries/Adapters/Microsoft.OmniChannel.Adapters.MessageBird/obj
/Libraries/Microsoft.OmniChannel.Adapter.Builder/bin/Debug/netcoreapp2.1
/Libraries/Microsoft.OmniChannel.Adapter.Builder/obj
/Microsoft.OmniChannel.Adaptors.Service/bin/Debug/netcoreapp2.1
/Microsoft.OmniChannel.Adaptors.Service/obj
/Microsoft.OmniChannel.MessageRelayProcessor/bin/Debug/netcoreapp2.1
/Microsoft.OmniChannel.MessageRelayProcessor/obj
*.licenseheader
/Tests/Microsoft.OmniChannel.Adapters.Service.Tests/bin/Debug/netcoreapp2.2
/Tests/Microsoft.OmniChannel.Adapters.Service.Tests/obj
/Tests/Microsoft.OmniChannel.MessageRelayProcessor.Tests/bin/Debug/netcoreapp2.2
/Tests/Microsoft.OmniChannel.MessageRelayProcessor.Tests/obj
/Tests/Adapters/Microsoft.OmniChannel.Adapters.MessageBird.Tests/bin/Debug/netcoreapp2.2
/Tests/Adapters/Microsoft.OmniChannel.Adapters.MessageBird.Tests/obj
