<?xml version="1.0" encoding="utf-8" ?>
<configuration>
		<startup> 
				<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
		</startup>
	<appSettings>
		<add key="CrmUrl" value="https://tp2sg832nonphxpatched14707org3.crm10.dynamics.com"/>
		<add key="CrmUsername" value="Crmsales@salestiptenant.onmicrosoft.com"/>
		<add key="CrmPass" value="PASSWORD_HERE"/>
	</appSettings>
</configuration>